<!doctype html>
<html>
    <head>
        <title>Tasky</title>
        <link rel="stylesheet" href="/static/cssFiles/main.css">
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="taskbar">
                <div id="active_tasks">
                    <div id="active_box"><p class="task_header">ACTIVE <span class="blue">TASKS</span></p>
                    {% for id, task in active %}
                        <div class="task active" data-id="{{task.id}}" id="at{{task.id}}">
                            {% if task.difficulty== 0%}
                                <i id="ticon{{task.id}}" class="fa fa-lg fa-sun-o task_icon"></i>
                            {% elif task.difficulty==1 %}
                                <i id="ticon{{task.id}}" class="fa fa-lg fa-cloud task_icon"></i>
                            {% else %}
                                <i id="ticon{{task.id}}" class="fa fa-lg fa-umbrella task_icon"></i>
                            {% endif %}
                            {{task.title}}
                        </div>
                        <div class="task_details hidden subtext" id="td{{task.id}}">
                            <p>{{task.description}}</p>
                            <p class="points_details">+ {{task.points}} points</p>
                            <div class="task_btn"><a href="/task/{{id}}">START!</a></div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div id="passive_tasks">
                    <p class="task_header">PASSIVE <span class="blue">TASKS</span></p>
                    {% for id, task in passive %}
                        <div class="task passive" data-id="{{task.id}}" id="pt{{task.id}}">
                            {% if task.difficulty== 0%}
                                <i class="fa fa-lg fa-sun-o task_icon white"></i>
                            {% elif task.difficulty==1 %}
                                <i class="fa fa-lg fa-cloud task_icon white"></i>
                            {% else %}
                                <i class="fa fa-lg fa-umbrella task_icon white"></i>
                            {% endif %}
                            {{task.title}}
                        </div>
                        <div class="task_details hidden subtext" id="td{{task.id}}">
                            <p>{{task.description}}</p>
                            <p class="points_details">+ {{task.points}} points</p>
                            <a href="/task/{{id}}"><div class="task_btn">START!</div></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="content">
                <div id="navbar">
                    <div id="links">
                        <span class="nav_link" data-id="1"><i class="fa-lg fa fa-angle-double-down navicon" id="icon1"></i><a href="/">HOME</a></span>
                        <span class="nav_link" data-id="2"><i class="fa-lg fa fa-angle-double-down navicon" id="icon2"></i><a href="/companies">COMPANIES</a></span>
                        <span class="nav_link" data-id="3"><i class="fa-lg fa fa-angle-double-down navicon" id="icon3"></i><a href="/schedule">SCHEDULE</a></span>
                        <span class="nav_link" data-id="4"><i class="fa-lg fa fa-angle-double-down navicon" id="icon4"></i><a href="/about" class="secondary">ABOUT</a></span>
                        <span class="nav_link" data-id="5"><i class="fa-lg fa fa-angle-double-down navicon" id="icon5"></i><a href="/contact" class="secondary">CONTACT</a></span>
                        <span class="nav_link" data-id="6"><i class="fa-lg fa fa-angle-double-down navicon" id="icon6"></i><a href="/help" class="secondary">HELP</a></span>
                        <span id="logo">TAS<span class="blue">KY</span></span>
                    </div>
                </div>
                <div class="window_content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".task").click( function(){
                $(".task_details").addClass("hidden");
                var data = $(this).data('id');
                $("#td" + data).toggle(".hidden");
            });

            $(".task").mouseover(function(){
                var data = $(this).data('id');
                $("#ticon" + data).addClass("white");
            });

            $(".task").mouseout(function(){
                var data = $(this).data('id');
                $("#ticon" + data).removeClass("white");
            });

            $(".nav_link").mouseover(function(){
                var data = $(this).data('id');
                $("#icon" + data).css("color", "rgb(162, 236, 125)");
            });

            $(".nav_link").mouseout(function(){
                var data = $(this).data('id');
                $("#icon" + data).css("color", "white");
            });
        });
    </script>
</html>