<form role ="form" method="post" action="/validate">
        <div>
            <label for="email">Email address</label>
            <input type="email" name="email" placeholder="Enter email"><br>
            <label for"password">Password</label> 
            <input type="password" name="password" placeholder="Password"><br>
            <a id="forgot" href="/forgotpassword">Forgot Password?</a>
        </div>
        <button type="submit" value="login" name="btn" class="btn btn-primary" id="submit_button">Submit</button>  
</form>
