<form role ="form" action="/registerUser" method="post">
        <div>
            <label for="email">Email address</label>
            <input type="email" name="email" placeholder="Enter email"><br>
            <label for"password">Password</label> 
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="verify" placeholder="Verify Password"><br> 
        </div>
        <button type="submit" value="login" id="submit_button">Submit</button>  
</form>