{% extends "base.html" %}
{% block content %}
    <div class="content">
        <div class="task_content">
            <p class="header title">{{task.title}}</p>
            <p class="points_details right">+ {{task.points}} points</p>
            <p>{{task.description}}</p>

            {% if task.htmlFile %}
                <div id="customized_input">
                    {% block input %}
                    {% endblock %}
                </div><br>
            {% else %}
                <p><a href="/task/{{tId}}/a/{{task.url}}">COMPLETED!</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}